[Unit]
Description=Start Network and Time Sync and TTYD Service
After=default.target

[Service]
ExecStart=/bin/ttyd -W -p 9000 sudo -u user  bash -c "cd /home/user; exec bash"
# WorkingDirectory=/home/myuser/my_app/
Restart=on-failure
#StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

